<%# ===========================
  新規登録フォーム
=========================== %>
<div class="wrapper">
  <div class="main-small">
    <div class="pagetitle">新規登録</div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    
    <%# エラーメッセージの表示%>
    <%= render 'shared/error_messages', model: resource %>

    <div class="field">
      <%= f.label :名前, class:"select-box-label" %><br />
      <%= f.text_field :nickname, autofocus: true, class:"select-box" %>
    </div>

    <div>
      <div class="select-box-label">プロフィール画像(任意)</div><%= f.file_field :avatar, id:"post-image" %>
    </div>

    <div class="field">
      <%= f.label :自己紹介, class:"select-box-label" %><br />
      <%= f.text_area :bio, autofocus: true, placeholder: '(任意)', id:"select-memo" %>
    </div>

    <div class="field">
      <%= f.label :Email, class:"select-box-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"select-box" %>
    </div>

    <div class="field">
      <%= f.label :パスワード, class:"select-box-label" %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: '6文字以上', class:"select-box" %>
    </div>

    <div class="field">
      <%= f.label :"パスワード(確認)", class:"select-box-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"select-box" %>
    </div><br />

    <div class="submit">
      <%= f.submit "SIGN UP" ,class:"submit-text",data: { turbo: false } %>
    </div>
    <% end %>

  </div>
</div>