<%# ===========================
  ヘッダー表示
=========================== %>
<%= render "shared/header" %>


<%# ===========================
  マイページのメニュー
=========================== %>
<div class="wrapper">
  <div class="main">
    <div class="mypage-wrapper">

      <div class="mypage-menuside">
        <%= @nickname %>さんの食事記録
      </div>
      

<%# ===========================
  マイページのメイン画面
=========================== %>
      <div class="mypage-mainside">
        <% @posts_by_date.sort_by { |date, _| date }.reverse_each do |date, posts| %>
          <div class="mypage-data"><%= date.strftime("%Y/%m/%d") %></div>
          <div class="meal-picture">
            <% posts.reverse_each do |post| %>
              <div class="meal-picture-size">
                <%= link_to post_path(post.id) do %><%= image_tag post.image, class: "post-picture" %><% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>