<div class="menu-side">

<%# ログインしている場合表示 %>
<% if user_signed_in? %>
  <div class="menu-list">
    <%= link_to '投稿する', new_post_path, class: "menu-list" %>
  </div>
  <div class="menu-list">
    <%= link_to 'マイページ', "/users/#{current_user.id}", class: "menu-list" %>
  </div>
  <div class="menu-list">
    <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "menu-list" %>
  </div>

<%# ログインしていない場合表示 %>
<% else %>
  <div class="menu-list">
    <%= link_to 'ログイン', new_user_session_path, class: "menu-list" %>
  </div>
  <div class="menu-list">
    <%= link_to '新規登録', new_user_registration_path, class: "menu-list" %>
  </div>
<% end %>

</div>