<div class="mypage-menuside">
  <div class="mypage-nickname"><%= user.nickname %></div>

  <% if @user.avatar.attached? %>
    <div class="user-avatar">
      <%= image_tag user.avatar, class: "user-avatar-image" %>
    </div>
  <% else %>
    <div class="user-avatar">
      <%= image_tag 'user-sample.png', class: "user-avatar-image"%>
    </div>
  <% end %>

  <% if user.bio.present? %>
    <div class="mypage-bio"><%= user.bio %></div>
  <% end %>

  <% if current_user.present? && current_user != user %>
    <div class="post-show-menu">
      <% if user.followed_by?(current_user) %>
        <%= link_to "UNFOLLOW", user_follow_path(user), class: "post-show-menutext", data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "FOLLOW", user_follows_path(user), class: "post-show-menutext", data: { turbo_method: :post } %>
      <% end %>
    </div>
  <% end %>

  
  <% if user == current_user %>
    <div class="mypage-menu-list">
      <div class="mypage-lists">
        <%= link_to "あなたの投稿", user_path(user), class: "mypage-list" %>
        <% if @user.avatar.attached? %>
          <div class="mypage-menu-user-avatar">
            <%= link_to user_path(user) do %>
              <%= image_tag user.avatar, class: "mypage-menu-user-avatar-image" %>
            <% end %>
          </div>
        <% else %>
          <div class="mypage-menu-user-avatar">
            <%= link_to user_path(user) do %>
              <%= image_tag 'user-sample.png', class: "mypage-menu-user-avatar-image"%>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="mypage-lists">
        <%= link_to 'フォロー', user_follows_path(user, type: 'following'), class: "mypage-list" %>
        <%= link_to user_follows_path(user, type: 'following') do %>
          <%= image_tag 'follow.png', class: "mypage-menu-image"%>
        <% end %>
      </div>
      <div class="mypage-lists">
        <%= link_to 'フォロワー', user_follows_path(user, type: 'followers'), class: "mypage-list" %>
        <%= link_to user_follows_path(user, type: 'followers') do %>
          <%= image_tag 'follower.png', class: "mypage-menu-image"%>
        <% end %>
      </div>
      <div class="mypage-lists">
        <%= link_to 'お気に入り', favorites_user_path(user), class: "mypage-list" %>
        <%= link_to favorites_user_path(user) do %>
          <%= image_tag 'favorite-on.png', class: "mypage-menu-image"%>
        <% end %>
      </div>
      <div class="mypage-lists">
        <%= link_to 'マイページ編集', edit_user_registration_path(user), class: "mypage-list" %>
        <%= link_to edit_user_registration_path(user) do %>
          <%= image_tag 'setting.png', class: "mypage-menu-image"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>