<%# ===========================
  投稿一覧
=========================== %>
<div class="wrapper">
  <div class="main">

    <div class="meal-time">
      <%= link_to "ALL", root_path, class: "meal-time-list" %>
      <%= link_to "BREAKFAST", show_by_mealtime_posts_path(mealtime_id: '2'), class: "meal-time-list" %>
      <%= link_to "LUNCH", show_by_mealtime_posts_path(mealtime_id: '3'), class: "meal-time-list" %>
      <%= link_to "DINNER", show_by_mealtime_posts_path(mealtime_id: '4'), class: "meal-time-list" %>
    </div>

    <div class = "meal-time-icon">
      <%= link_to root_path do %><%= image_tag "mealtime-all.png", class: "mealtime-icon-image" %><% end %>
      <%= link_to show_by_mealtime_posts_path(mealtime_id: '2') do %><%= image_tag "mealtime-breakfast.png", class: "mealtime-icon-image" %><% end %>
      <%= link_to show_by_mealtime_posts_path(mealtime_id: '3') do %><%= image_tag "mealtime-lunch.png", class: "mealtime-icon-image" %><% end %>
      <%= link_to show_by_mealtime_posts_path(mealtime_id: '4') do %><%= image_tag "mealtime-dinner.png", class: "mealtime-icon-image" %><% end %>
    </div>

    <div class="meal-picture">
      <% @posts.reverse_each do |post| %>
        <div class="meal-picture-size">
          <%= link_to post_path(post.id) do %><%= image_tag post.image, class: "post-picture" %><% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>