<%# ===========================
  投稿一覧
=========================== %>
<div class="wrapper">
  <div class="main">

    <div class="meal-time">
      <%= link_to "ALL", root_path, class: "meal-time-list" %>
      <%= link_to "BREAKFAST", show_by_mealtime_posts_path(mealtime_id: '2'), class: "meal-time-list" %>
      <%= link_to "LUNCH", show_by_mealtime_posts_path(mealtime_id: '3'), class: "meal-time-list" %>
      <%= link_to "DINNER", show_by_mealtime_posts_path(mealtime_id: '4'), class: "meal-time-list" %>
    </div>

    <div id = "meal-time-dropdown">
      <div class = "meal-time-dropdown-btn">▼ 選択してください</div>
      <div class = "meal-time-dropdown-lists hidden" id="meal-time-dpull-down">
        <%= link_to "ALL", root_path, class: "meal-time-dropdown-list" %>
        <%= link_to "BREAKFAST", show_by_mealtime_posts_path(mealtime_id: '2'), class: "meal-time-dropdown-list" %>
        <%= link_to "LUNCH", show_by_mealtime_posts_path(mealtime_id: '3'), class: "meal-time-dropdown-list" %>
        <%= link_to "DINNER", show_by_mealtime_posts_path(mealtime_id: '4'), class: "meal-time-dropdown-list" %>
      </div>
    </div>

    <div class="meal-picture">
      <% @posts.reverse_each do |post| %>
        <div class="meal-picture-size">
          <%= link_to post_path(post.id) do %><%= image_tag post.image, class: "post-picture" %><% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>