<%# ===========================
  詳細表示
=========================== %>
<div class="wrapper">
  <div class="main">

    <div class="post-show-picture-center">
      <%= image_tag @post.image, class: "post-show-picture" %>
    </div>
    
    <div class="post-show-wrapper">
      <%= link_to @post.user.nickname, user_path(@post.user), class:"post-show-name"%>

      <div class="post-show-column">
        <% if user_signed_in? && current_user == @post.user %>
          <div class="post-show-menu">
            <%= link_to "EDIT", edit_post_path(@post.id), class: "post-show-menutext" %>
          </div>
          <div class="post-show-menu">
            <%= link_to "DELETE", post_path(@post.id), class: "post-show-menutext",  data: { turbo_method: :delete } %>
          </div>
        <% else %>
          <div class="post-show-menu">
            <%= link_to "FOLLOW", root_path, class: "post-show-menutext" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="post-show-memo">
      <%= @post.memo%>
    </div>

    <div class="post-show-menus">
      <% mealtime = Mealtime.find_by_id(@post.mealtime_id) %>
        <% if mealtime %>
        <% case mealtime.name.downcase %>
          <% when 'あさ' %>
            <%= image_tag 'mealtime-breakfast.png', class: "post-show-icon" %>
          <% when 'ひる' %>
            <%= image_tag 'mealtime-lunch.png', class: "post-show-icon" %>
          <% when 'よる' %>
            <%= image_tag 'mealtime-dinner.png', class: "post-show-icon" %>
        <% end %>
      <% end %>
      
<% if user_signed_in? %>
  <% if user_signed_in? && current_user.favorites.exists?(post_id: @post.id) %>
    <%= button_to post_favorite_path(@post, current_user.favorites.find_by(post_id: @post.id)), method: :delete, remote: true, class: "post-show-iconbotan" do %>
      <%= image_tag('favorite-on.png', class: 'post-show-icon') %>
    <% end %>
  <% else %>
    <%= button_to post_favorites_path(@post), method: :post, remote: true, class: "post-show-iconbotan" do %>
      <%= image_tag('favorite-off.png', class: 'post-show-icon') %>
    <% end %>
  <% end %>
<% else %>
<% end %>
    </div>


<%# ===========================
  コメント投稿欄
=========================== %>
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <div>
          <%= form.text_area :content, placeholder: "コメントする", id:"comment" %>
        </div>
        <div class="submit">
          <%= form.submit "SEND" ,class: "submit-text" %>
        </div>
      <% end %>
    <% else %>
      <div class="template">コメントを投稿するには<%= link_to 'ログイン', new_user_session_path, class: "comment-login" %>が必要です</div>
    <% end %>

    <% @comments.each do |comment| %>
      <div class="comment-user">
        <%= link_to comment.user.nickname, user_path(comment.user), id:"comment-user"%>
      </div>
      <div class="comment-content">
        <%= comment.content %>
      </div>
    <% end %>

  </div>
</div>