<%= render "shared/header" %>

<div class="wrapper">
<%# ===========================
  メニュー
=========================== %>
  <%= render "shared/menu-side" %>

<%# ===========================
  詳細表示
=========================== %>
  <div class="main-side-post">
    <%= image_tag @post.image, class: "post-show-picture" %>
    <div class="post-show-column">
      user:
    </div>
    <div class="post-show-column">
      memo:<%= @post.memo%>
    </div>
    <div class="post-show-column">
      time:<%= Mealtime.find_by_id(@post.mealtime_id)&.name %>
    </div>
    <div class="post-show-menus">
      <div class="post-show-menu">
        <%= link_to "EDIT", edit_post_path(@post.id), class: "post-show-menutext" %>
      </div>
      <div class="post-show-menu">
        <%= link_to "DELETE", post_path(@post.id), class: "post-show-menutext",  date: {turbo_method: :delete} %>
      </div>
    </div>
    <%# <div>comment</div> %>
  </div>

</div>