<%# ===========================
  ヘッダー表示
=========================== %>
<%= render "shared/header" %>


<%# ===========================
  詳細表示
=========================== %>
<div class="wrapper">
  <div class="main-side-post">

    <%= image_tag @post.image, class: "post-show-picture" %>
    <div class="post-show-column">
      user:<%= @post.user.nickname %>
    </div>
    <div class="post-show-column">
      memo:<%= @post.memo%>
    </div>
    <div class="post-show-column">
      time:<%= Mealtime.find_by_id(@post.mealtime_id)&.name %>
    </div>
    <div class="post-show-menus">
      <% if user_signed_in? && current_user == @post.user %>
        <div class="post-show-menu">
          <%= link_to "EDIT", edit_post_path(@post.id), class: "post-show-menutext" %>
        </div>
        <div class="post-show-menu">
          <%= link_to "DELETE", post_path(@post.id), class: "post-show-menutext",  data: { turbo_method: :delete } %>
        </div>
      <% else %>
      <% end %>
    </div>

<%# ===========================
  コメント投稿欄
=========================== %>
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <div>
          <%= form.text_area :content, placeholder: "コメントする", id:"comment" %>
        </div>
        <div class="submit">
          <%= form.submit "SEND" ,class: "submit-text" %>
        </div>
      <% end %>
    <% else %>
      <div class="comment-else">コメントを投稿するには<%= link_to 'ログイン', new_user_session_path, class: "comment-login" %>が必要です</div>
    <% end %>

    <% @comments.each do |comment| %>
      <div class="comment-user">
        <%= link_to comment.user.nickname, user_path(comment.user), id:"comment-user"%>
      </div>
      <div class="comment-content">
        <%= comment.content %>
      </div>
    <% end %>

  </div>
</div>